@charset "utf-8";
@import "compass";
@import "_reset";

// carousel
#frame {
	width: 350px;
	height: 150px;
	position: relative;
	overflow: hidden;
	margin: 10px auto;
}

#slider {
	position: relative;
	z-index: 0;
	background-color: #999;
	li {
		position: absolute;
		display: block;
		background-color: #333;
		list-style: none;
	}
	img {
		width: 100%;
	}
}

.clearfix {
	&:after {
		clear: both;
		content: "";
		display: block;
		height: 0;
		visibility: hidden;
	}
}

// crossFade
.fadeWrapper {
	position: relative;
	width: 100%;
	height: 151px;
	overflow:hidden;
}

.fadeList {
	position: absolute;
	top: 0;
	left: 0;
}